# Node modules
node_modules/

# Next.js build output
.next/
out/

# Logs
logs/
*.log
npm-debug.log*

# OS generated
.DS_Store

# Env files
.env

# TypeScript
*.tsbuildinfo

# Package lock
package-lock.json
yarn.lock

# Editor folders
.vscode/
.idea/
